@font-face {
  font-family: "Negar";
  src: url("./fonts/ANegaar.ttf");
}

body {
  margin: 0;
  font-family: Negar, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 18px;
}

h1,
p,
button,
address,
a {
  font-family: Negar, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
